  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="{{ page.root }}assets/logos/nxtrev_icon_blue.svg">
  <link rel="apple-touch-icon" href="{{ page.root }}assets/logos/nxtrev_logo_iconmark_blue.png">
  <link rel="stylesheet" href="{{ page.root }}assets/css/site.css">
  <link rel="stylesheet" href="{{ page.root }}assets/css/motion.css">
  <script>document.documentElement.classList.add('js-motion')</script>
